page-home {

}


#mainButton {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    font-size: 50px;
    color: white;
    background-color: rgb(66, 134, 244);
    position: relative;
    top: 50%;
    left: 50%;
    margin: -25%;
}



